<meta http-equiv="refresh" content="60" />
{% load render_table from django_tables2 %***REMOVED***
{% load static %***REMOVED***
<link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %***REMOVED***" />
<link rel="stylesheet" type="text/css" href="{% static 'intuit_site_check/style.css' %***REMOVED***" />

<!doctype html>
<html>

<body>

    <div style="float:left; width: 50%">
        <h1 align="center">
            <a href="/dashboard/turbotax/">Turbotax Home</a>
        </h1>


        <h2 align="center">
            Site Status:
        ***REMOVED***% if t_http_code == 200 %***REMOVED***
                Online
        ***REMOVED***% else %***REMOVED***
                Offline:  Error Code {{ t_http_code ***REMOVED******REMOVED***
        ***REMOVED***% endif %***REMOVED***
        </h2>

        <h2 align="center">
        ***REMOVED***% if t_http_code == 200 %***REMOVED***
            Page Load Time: {{t_load_time ***REMOVED******REMOVED*** s
        ***REMOVED***% else %***REMOVED***
                Offline - Error Code {{ t_http_code ***REMOVED******REMOVED***
            <ul>
            ***REMOVED***% if t_email_sent == 1 %***REMOVED***
                    Error successfully sent to system administrator
            ***REMOVED***% else %***REMOVED***
                    Error message not sent successfully
            ***REMOVED***% endif %***REMOVED***
            </ul>
        ***REMOVED***% endif %***REMOVED***

        </h2>

        <div class="t-plot-container" style="height: 400px" align="center">
    ***REMOVED***{ t_plot|safe ***REMOVED******REMOVED***
        </div>

        <div class="table-container-super" style="height=200px; width=350px" align="center">

            <div class="table-container" style="height: 200px;  overflow: auto" align="center">
                <table class="paleblue">
                ***REMOVED***% render_table t_table %***REMOVED***
                </table>
            </div>
        </div>


    </div>
    <div style="float:left;">
        <h1 align="center">
            <a href="/dashboard/wikipedia/">Intuit Wikipedia</a>
        </h1>

        <h2 align="center">
            Site Status:
        ***REMOVED***% if w_http_code == 200 %***REMOVED***
                Online
        ***REMOVED***% else %***REMOVED***
                Offline:  Error Code {{ w_http_code ***REMOVED******REMOVED***
        ***REMOVED***% endif %***REMOVED***
        </h2>

        <h2 align="center">
        ***REMOVED***% if w_http_code == 200 %***REMOVED***
            Page Load Time: {{w_load_time ***REMOVED******REMOVED*** s
        ***REMOVED***% else %***REMOVED***
                Offline - Error Code {{ w_http_code ***REMOVED******REMOVED***
            <ul>
            ***REMOVED***% if w_email_sent == 1 %***REMOVED***
                    Error successfully sent to system administrator
            ***REMOVED***% else %***REMOVED***
                    Error message not sent successfully
            ***REMOVED***% endif %***REMOVED***
            </ul>
        ***REMOVED***% endif %***REMOVED***

        </h2>

        <div class="t-plot-container" style="height: 400px" align="center">
    ***REMOVED***{ w_plot|safe ***REMOVED******REMOVED***
        </div>
        <div class="table-container-super" style="height=200px; width=350px" align="center">

            <div class="table-container" style="height: 200px;  overflow: auto" align="center">
                <table class="paleblue">
                ***REMOVED***% render_table w_table %***REMOVED***
                </table>
            </div>
        </div>


    </div>
<p>
    <div style="height: 50px">

    </div>

</body>

<footer>

</footer>



</html>