<meta http-equiv="refresh" content="60" />
{% load render_table from django_tables2 %}
{% load static %}
<link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'intuit_site_check/style.css' %}" />


<!doctype html>
<html>

<header>
    <center><h1>
        {{ site_name }}
    </h1></center>
</header>

<center><a href="/dashboard/">Back to Main Dashboard</a></center>

<div style="float:left; width: 40%">
    <h2>
        Site Status:
        {% if http_code == 200 %}
            Online!
        {% else %}
            Offline - Error Code {{ http_code }}
        <ul>
                {% if email_sent == 1 %}
                    Error successfully sent to system administrator
                {% else %}
                    Error message not sent successfully
                {% endif %}
        </ul>
        {% endif %}

    </h2>

    <h2>
        Page Load Time:  {{ load_time }} s
    </h2>

    <form action="/dashboard/{{ site_id }}/" method="post">
        {% csrf_token %}
        <div style="float: left; width: 40%">
        {% for option in radio_options %}
            <input type="radio" name="choice" id="choice {{ forloop.counter }}"
                   value="{{ forloop.counter }}"/>
            <label for="choice{{ forloop.counter }}">{{option}}</label><br />
        {% endfor %}
            <div align="center">
                <input type="submit" value="Submit" />
            </div>
        </div>
        <div style="float:left">
            <dt>
                Start Date and Time
            </dt>
            <dt>
                <input id="start_date_time" type="text" name="start_date_time"/>
            </dt>
            <dt>
                End Date and Time
            </dt>
            <dt>
                <input id="end_date_time" type="text" name="end_date_time"/>
            </dt>
        </div>


    </form>

    {% if valid_time_range == 0 %}
        <div>
            Invalid time range
            {{ invalid_range_message }}
        </div>
    {% endif %}


    <div class="table-container" style="height: 600px; overflow: auto">
         <table class="paleblue">
                 {% render_table table %}
         </table>
    </div>

</div>

<div style="float:left;">
    <div class="plot-container" style="height: 500px" align="center">
        {{ plot|safe }}

    </div>


</div>

<footer>

</footer>



</html>