<meta http-equiv="refresh" content="60" />
{% load render_table from django_tables2 %***REMOVED***
{% load static %***REMOVED***
<link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %***REMOVED***" />
<link rel="stylesheet" type="text/css" href="{% static 'intuit_site_check/style.css' %***REMOVED***" />


<!doctype html>
<html>

<header>
    <center><h1>
    ***REMOVED***{ site_name ***REMOVED******REMOVED***
    </h1></center>
</header>

<center><a href="/dashboard/">Back to Main Dashboard</a></center>

<div style="float:left; width: 40%">
    <h2>
        Site Status:
    ***REMOVED***% if http_code == 200 %***REMOVED***
            Online!
    ***REMOVED***% else %***REMOVED***
            Offline - Error Code {{ t_http_code ***REMOVED******REMOVED***
        <ul>
            ***REMOVED***% if t_email_sent == "True" %***REMOVED***
                    Error successfully sent to system administrator
            ***REMOVED***% else %***REMOVED***
                    Error message not sent successfully
            ***REMOVED***% endif %***REMOVED***
        </ul>
    ***REMOVED***% endif %***REMOVED***

    </h2>

    <h2>
        Page Load Time:  {{ load_time ***REMOVED******REMOVED***
    </h2>

    <form action="/dashboard/{{ site_id ***REMOVED******REMOVED***/" method="post">
    ***REMOVED***% csrf_token %***REMOVED***
        <div style="float: left; width: 40%">
    ***REMOVED***% for option in radio_options %***REMOVED***
            <input type="radio" name="choice" id="choice {{ forloop.counter ***REMOVED******REMOVED***"
                   value="{{ forloop.counter ***REMOVED******REMOVED***"/>
            <label for="choice{{ forloop.counter ***REMOVED******REMOVED***">{{option***REMOVED******REMOVED***</label><br />
    ***REMOVED***% endfor %***REMOVED***
            <div align="center">
                <input type="submit" value="Submit" />
            </div>
        </div>
        <div style="float:left">
            <dt>
                Start Date and Time
            </dt>
            <dt>
                <input id="start_date_time" type="text" name="start_date_time"/>
            </dt>
            <dt>
                End Date and Time
            </dt>
            <dt>
                <input id="end_date_time" type="text" name="end_date_time"/>
            </dt>
        </div>


    </form>


    <div class="table-container" style="height: 600px; overflow: auto">
         <table class="paleblue">
             ***REMOVED***% render_table table %***REMOVED***
         </table>
    </div>

</div>

<div style="float:left;">
    <div class="plot-container" style="height: 500px" align="center">
    ***REMOVED***{ plot|safe ***REMOVED******REMOVED***

    </div>


</div>

<footer>

</footer>



</html>